<div class="black-out effect-container">
  <!-- <img class="grid-style" [src]="'assets/img/levels/title-grid-background.png'"> -->
  <div class="screen-container" *ngIf="screenId==0">
    <!-- <img class="grid-style" [src]="'assets/img/levels/title-grid-background.png'"> -->
    <img [src]="'assets/img/desc/updated-title.gif'">
  </div>
  <div class="screen-container" *ngIf="screenId==1">
    <span *ngIf="levelManagerService.mainMenuIndex==0">
      <img [src]="'assets/img/desc/menu-pics/menu-start.png'">
    </span>
    <span *ngIf="levelManagerService.mainMenuIndex==1">
      <img [src]="'assets/img/desc/menu-pics/menu-boss-rush.png'">
    </span>
    <span *ngIf="levelManagerService.mainMenuIndex==2">
      <img [src]="'assets/img/desc/menu-pics/menu-options.png'">
    </span>
    <span *ngIf="levelManagerService.mainMenuIndex==3">
      <img [src]="'assets/img/desc/menu-pics/menu-credits.png'">
    </span>
  </div>
  <div class="screen-container" *ngIf="screenId==2">
      <img [src]="'assets/img/desc/new-story.png'">
  </div>
  <div class="screen-container" *ngIf="screenId==3">
    <span *ngIf="levelManagerService.difficulty==0">
        <img *ngIf="gifTimer < 40" [src]="'assets/img/desc/difficulty-select/easy-1.png'">
        <img *ngIf="gifTimer >= 40" [src]="'assets/img/desc/difficulty-select/easy-2.png'">
    </span>
    <span *ngIf="levelManagerService.difficulty==1">
        <img *ngIf="gifTimer < 40" [src]="'assets/img/desc/difficulty-select/normal-1.png'">
        <img *ngIf="gifTimer >= 40" [src]="'assets/img/desc/difficulty-select/normal-2.png'">
    </span>
    <span *ngIf="levelManagerService.difficulty==2">
      <img *ngIf="gifTimer < 40" [src]="'assets/img/desc/difficulty-select/hard-1.png'">
      <img *ngIf="gifTimer >= 40" [src]="'assets/img/desc/difficulty-select/hard-2.png'">
  </span>
  </div>
  <div class="screen-container" *ngIf="screenId==4">
    <span *ngIf="playerService.selectedPilot==0">
      <img [src]="'assets/img/desc/character-select-player-1.png'">
    </span>
    <span *ngIf="playerService.selectedPilot==1">
      <img [src]="'assets/img/desc/character-select-player-2.png'">
    </span>
  </div>
  <div class="screen-container" *ngIf="screenId==5">
    <span *ngIf="playerService.selectedShip==0">
      <img [src]="'assets/img/desc/ship-select-1.png'">
    </span>
    <span *ngIf="playerService.selectedShip==1">
      <img [src]="'assets/img/desc/ship-select-2.png'">
    </span>
  </div>
  <div class="screen-container" *ngIf="screenId==6">
      <app-game-container [requestAnimFrame]="requestAnimFrame"></app-game-container>
  </div>

  <div class="screen-container" *ngIf="screenId==10">
    <span *ngIf="levelManagerService.opsMenuIndex==0">
      <img [src]="'assets/img/hud/options-menu-v1.png'">
    </span>
    <span *ngIf="levelManagerService.opsMenuIndex==1">
      <img [src]="'assets/img/hud/options-menu-v2.png'">
    </span>
    <span *ngIf="levelManagerService.opsMenuIndex==2">
      <img [src]="'assets/img/hud/options-menu-v3.png'">
    </span>
    <span *ngIf="levelManagerService.opsMenuIndex==3">
      <img [src]="'assets/img/hud/options-menu-v4.png'">
    </span>
  </div>

  <div class="screen-container pink-text" *ngIf="screenId==20">
      <h1>Game over</h1>
      <p>Score: {{playerScore}}</p>
      <p>Press Enter to Restart</p>
  </div>
  <div class="screen-container pink-text" *ngIf="screenId==30">
    <img [src]="'assets/img/desc/stage-1-complete.png'">
    <h2 class="player-score-vic">{{playerScore}}</h2>
    <h2 class="player-lives-vic">{{playerLives}}</h2>
  </div>
  <div class="screen-container" *ngIf="screenId==35">
    <app-game-container [requestAnimFrame]="requestAnimFrame"></app-game-container>
  </div>
  <div class="screen-container pink-text" *ngIf="screenId==40">
    <img [src]="'assets/img/desc/stage-1-complete.png'">
    <h2 class="player-score-vic">{{playerScore}}</h2>
    <h2 class="player-lives-vic">{{playerLives}}</h2>
  </div>
  <div class="screen-container" *ngIf="screenId==45">
    <app-game-container [requestAnimFrame]="requestAnimFrame"></app-game-container>
  </div>
  <!-- Game over 50? -->

  <div class="screen-container" *ngIf="screenId==55">
    <app-game-container [requestAnimFrame]="requestAnimFrame"></app-game-container>
  </div>
  <div class="screen-container pink-text" *ngIf="screenId==60">
    <img [src]="'assets/img/desc/stage-1-complete.png'">
    <h2 class="player-score-vic">{{playerScore}}</h2>
    <h2 class="player-lives-vic">{{playerLives}}</h2>
  </div>
  <div class="screen-container" *ngIf="screenId==65">
    <app-game-container [requestAnimFrame]="requestAnimFrame"></app-game-container>
  </div>
  <div class="screen-container pink-text" *ngIf="screenId==70">
    <img [src]="'assets/img/desc/stage-1-complete.png'">
    <h2 class="player-score-vic">{{playerScore}}</h2>
    <h2 class="player-lives-vic">{{playerLives}}</h2>
  </div>
  <div class="screen-container" *ngIf="screenId==75">
    <app-game-container [requestAnimFrame]="requestAnimFrame"></app-game-container>
  </div>
  <!-- Game over 80? -->

</div>
