<div class="screen-container" *ngIf="screenId==1">
    <img [src]="'assets/img/desc/title-screen.png'">
</div>
<div class="screen-container" *ngIf="screenId==2">
    <img [src]="'assets/img/desc/main-intro.png'">
</div>
<div class="screen-container" *ngIf="screenId==3">
    <img [src]="'assets/img/desc/MICS-intro.png'">
</div>
<div class="screen-container" *ngIf="screenId==4">
    <img [src]="'assets/img/desc/character-select-MICS.png'">
</div>
<div class="screen-container" *ngIf="screenId==5">
    <app-game-container [requestAnimFrame]="requestAnimFrame"></app-game-container>
</div>
<div class="screen-container" *ngIf="screenId==6">
    <h1>Game over</h1>
    <p>Score: {{playerScore}}</p>
    <p>Press Enter to Restart</p>
</div>
